{% load staticfiles %}
<html>
	<head>
		<title>Firmino's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin,latin-ext">
	</head>
	
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			{% endif %}
			<h1><a href="/">Firmino's Blog</a></h1>
			<p class="p-title"><em>Blog pessoal com o intuito de se familiarizar com django, python, html e afins.</em></p>
		</div>
		
		<div class="left">
			<table class="table-base">
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
		
		<div class="center">
			{% block content %}
			{% endblock %}
		</div>
		
		<div class="right">
			<table class="table-base">
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</body>
	
</html>