{% extends 'blog/base.html' %}
{% load staticfiles %}

<html>
	<head>
		<title>Firmino's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin,latin-ext">
	</head>
	
	<body>
	
		{% block content %}
			<div class="post">
				<img src="/static/img/{{ post.id }}.png">
				<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
				<p>{{ post.text|linebreaksbr }}</p>
				{% if post.published_date %}
					<div class="date">
						<em>publicado em: {{ post.published_date }}</em>
					</div>
				{% endif %}
			</div>
		{% endblock content %}
		
	</body>
	
</html>