<html>
	<head>
		<title>Firmino's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Firmino's Blog</a></h1>
			<p><em>Blog pessoal com o intuito de se familiarizar com django, python, html e afins.</em></p>
		</div>
		
		<hr>
		
		<div>
			<h3><a href="">Post 01</a></h3>
			<p>Exemplo de post</p>
			<em>publicado em: </em>
		</div>
		
		<hr>
		
		<div>
			<h3><a href="">Post 02</a></h3>
			<p>Exemplo de post</p>
			<em>publicado em: </em>
		</div>
		
		<hr>
		
		<div>
			<h3><a href="">Post 03</a></h3>
			<p>Exemplo de post</p>
			<em>publicado em: </em>
		</div>
		
		<hr>
		
	</body>
</html>